<div class="orders-nav-wrap">
    <div class="container">
        <div class="row orders-nav">
            <div class="col-md-4 col-lg-2 add-order-wrap">
                <button class="add-order-btn" type="button" data-toggle="modal" data-target="#modal-order-add">
                    <i class="far fa-plus"></i> Добавить заказ
                </button>
            </div>
            <div class="col-md-8 col-lg-6 order-sort d-md-flex">
                <a class="order-sort-button active" href="#">Все</a>
                <a class="order-sort-button" href="#">Новые</a>
                <a class="order-sort-button" href="#">Готовые</a>
                <a class="order-sort-button" href="#">Выполняются</a>
                <a class="order-sort-button" href="#">Отмененные</a>
            </div>
            <div class="col-12 col-lg-4 order-search-wrap">
                <input class="order-search" type="search" placeholder="Поиск заказов" aria-label="Search">
                <button type="submit"><i class="far fa-search search-button"></i></button>
            </div>
        </div>
    </div>
</div>