{% extends 'adminapp/base.html' %}
{% load static %}
{% load bootstrap %}


{% block content %}
<h1> very nice</h1>

{% include 'adminapp/includes/inc_products_nav3.html' %}

<h2>first form</h2>
<form method="GET">
    {{ filter.form|bootstrap }}
    <button type="submit" class="bt btn-primary">Search</button>
</form>

<h2>second form</h2>
<a href="?gender=man&category=" class="button" type="button">man</a> <br>
<a href="?gender=woman&category=" class="button" type="button">woman</a> <br>
<a href="?gender=&category=" class="button" type="button">all</a> <br>

<div class="dropdown">
    <button class="admin-products-category-btn no-focus" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Категории
    </button>
    <br>
    <h2>{{ request.resolver_match.url_name }}</h2><br>
    <h2>{{ request.GET }}</h2><br>
    <h2>{{ request.get_full_path }}</h2><br>
    <h2>{{ request.build_absolute_uri }}</h2><br>
    <h2>{{ QueryDict.items }}</h2><br>
    {% if request.resolver_match.kwargs.pk == 'all' %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="?gender=&category=5">Футболки</a>
            <a class="dropdown-item" href="?gender=&category=3">Рубашки</a>
            <a class="dropdown-item" href="?gender=&category=4">Кофты</a>
            <a class="dropdown-item" href="?gender=&category=1">Толстовки</a>
            <a class="dropdown-item" href="?gender=&category=2">Куртки</a>
        </div>
    {% endif %}

</div>

{% for snipet in filter.qs %}
    {{ snipet }} <br>
{% endfor %}

{% endblock %}