@charset "utf-8"


/* ШРИФТЫ */

@font-face
  font-family: "Raleway Regular"
  src: url(../font/Raleway-Regular.ttf)


@font-face
  font-family: "Raleway Bold"
  src: url(../font/Raleway-Bold.ttf)

@font-face
  font-family: "Phosphate"
  src: url(../font/Phosphate.ttc)

@font-face
  font-family: "Roboto Regular"
  src: url(../font/Roboto-Regular.ttf)

@font-face
  font-family: "Roboto Bold"
  src: url(../font/Roboto-Bold.ttf)

$rlw-r: "Raleway Regular", sans-serif
$rlw-b: "Raleway Bold", sans-serif
$pst: "Phosphate", sans-serif
$rbt-r: "Roboto Regular", sans-serif
$rbt-b: "Roboto Bold", sans-serif


/* ЦВЕТА */

$yellow: #e6db74
$blue: #66d9ef
$green: #a6e22e
$pink: #f92672
$light: #f6f6f6
$grey: #383838
$dark: #1e1e1e
$light-grey: #eaeaea
$hover-dark: #323232

body
  margin: 0
  background: $light
  font-family: $rlw-r
  font-size: 18px
  color: $dark



/* МЕНЮ 1 */

.first-menu
  background: $dark
  min-height: 33px
  font-size: 18px

  .slogan
    color: $yellow
    box-sizing: border-box
    padding-left: 15px
    span
      color: $blue
      &:first-child
        color: $green

  .top-menu
    padding: 0

  a
    display: block
    height: inherit
    color: $light
    font-size: 16px
    box-sizing: border-box
    padding-top: 4px
    &:first-child
      color: $pink
      font-family: $rlw-b
    &:hover
      color: lightgrey


/* МЕНЮ 2 */

.second-menu
  min-height: 61px
  background: $grey
  .logo
    padding: 5px 0 0 0

  .main-categories a
    &:first-child
      border-left: $dark 1px solid
    &:hover
      background: $hover-dark

  .main-category
    height: 61px
    flex: 100%
    padding: 19px 0 0 0
    font-family: $rlw-b
    font-size: 16px
    color: $light
    text-transform: uppercase
    text-align: center
    border-right: $dark 1px solid
  .active
    background: $dark

  .search
    padding-top: 15px
    position: relative
    input
      border: none
      background: $dark
      width: 100%
      height: 29px
      border-radius: 20px
      padding-left: 32px
      font-size: 16px
      color: $grey
      &::-webkit-input-placeholder
        color: $grey
        font-size: 16px
      &::-moz-placeholder
        color: $grey
        font-size: 16px
      &::placeholder
        color: $grey
        font-size: 16px
    .form-control
      &:focus
        border-color: $blue !important
        box-shadow: 0 0 10px $blue !important
        background: $light
        color: $grey

    button
      background: none
      border: none
      position: absolute
      top: 16px
      i
        color: $grey
      &:focus
        outline: none !important

.main-icons
  padding: 14px 0 0 0
  font-size: 22px
  a
    color: $light
    &:hover
      color: $yellow

  &:nth-child(2n)
      color: $pink
    &:hover
      color: $green



/* ФОТО НА ГЛАВНОЙ */

.main-image
  background: #ebdb76

/* ФОТО НА МУЖСКОЙ СТРАНИЦЕ */

.man-image
  background: #00daed

/* ФОТО НА ЖЕНСКОЙ СТРАНИЦЕ */

.woman-image
  background: #ff2b77


/* ОБЪЯВЛЕНИЕ */

.main-announcement
  margin-top: 25px
  margin-bottom: 25px
  min-height: 86px
  background: $green
  text-align: center
  box-sizing: border-box
  padding-top: 10px
  font-size: 43px



/* ЗАГОЛОВОК СТРАНИЦ И БЛОКОВ */

.product-title
  margin-bottom: 25px
  min-height: 58px
  background: $grey
  font-family: $pst
  font-size: 34px
  color: $yellow
  padding-top: 5px
  text-align: center


/* РАЗДЕЛ ПРОДУКТОВ */

.products
  a
    margin-bottom: 25px
    display: block
    img
      cursor: pointer


/* ОПИСАНИЕ СТРАНИЦЫ */

.page-description
  margin-top: 25px
  margin-bottom: 25px
  background: $yellow
  padding-top: 25px
  padding-bottom: 25px
  h3
    font-size: 22px
    font-family: $rlw-b
    text-align: center
    text-transform: uppercase
    color: $grey


/* ЖЕНСКОЕ И МУЖСКОЕ МЕНЮ */

.categories-menu
  height: 46px
  background: $dark
  .container
    padding: 0

  .navbar
    min-height: 46px
    background-color: $dark !important
    box-shadow: none !important
    padding: 0
    font-family: $rlw-b
    font-size: 16px
    color: $light
    .nav-item
      width: 132px
      min-height: 46px
      text-align: center
      a
        &:hover
          background-color: $grey
          color: $light !important

      .nav-link
        min-height: 46px
        box-sizing: border-box
        padding-top: 12px

    .active
      background-color: $light
      color: $grey !important
      a
        color: $grey !important
      &:hover
        background-color: $grey !important


/* ПУТЬ */

.path
  height: 30px
  a
    font-size: 14px
    color: $grey
    box-sizing: border-box
    padding-top: 3px


/* КНОПКИ СОРТИРОВКИ */

.product-sort
  .active
    background: $grey
    color: $light
  a
    display: block
    height: 40px
    background: $light-grey
    text-align: center
    border-radius: 25px
    font-family: $rlw-b
    font-size: 16px
    text-transform: uppercase
    color: $grey
    box-sizing: border-box
    padding-top: 9px
    margin-bottom: 25px
    &:hover
      background: #c5c4c4
      color: $grey


/* ПАГИНАТОР */

.paginator
  text-align: center
  font-size: 16px
  margin-bottom: 25px
  span
    font-family: $rlw-b
  button
    border: none
    background: $grey
    width: 290px
    height: 51px
    font-family: $pst
    font-size: 34px
    color: $yellow
    cursor: pointer
    margin-top: 5px
    &:hover
      background: $green
      color: $grey


/* ПРОДУКТ */

.product
  color: $grey
  margin-bottom: 25px
  .sub-product-photos
    .active
      border: 2px $blue solid
    img
      margin-bottom: 20px

  .short-description
    font-family: $rlw-b
    font-size: 20px
    height: 3.5rem
    overflow: hidden

  .price
    font-family: $rlw-b
    span
      font-family: $rbt-b
      font-size: 32px

  .vendor-code
    font-family: $rbt-r
    margin-bottom: 10px
    span
      font-family: $rlw-b

  .color
    span
      font-family: $rlw-b

  .buttons
    margin-top: 25px
    margin-bottom: 25px
    .add-to-bag
      height: 44px
      width: 290px
      font-family: $rlw-b
      text-transform: uppercase
      border: none
      background: $green
      cursor: pointer
      margin-right: 15px
      &:hover
        background: $grey
        color: $light

    .add-to-like
      text-align: center
      border: none
      background: white
      color: $grey
      height: 44px
      width: 44px
      cursor: pointer
      border-radius: 50px
      &:hover
        background: $pink
        color: $light
      i
        font-size: 22px
        position: relative
        top: 4px

  select
    margin-top: 25px
    &:focus
      border-color: lightgrey
      box-shadow: none


  .long-description
    margin-top: 25px
    font-size: 16px
    height: 18rem
    overflow: hidden


/* ПОХОЖИЕ ПРОДУКТЫ */

.similar-products
  a
    cursor: pointer
    img
      margin-bottom: 25px


/* КОРЗИНА */

.basket
  color: $grey
  font-size: 16px
  .basket-items
    background: white
    padding-left: 20px
    padding-right: 20px
    margin-bottom: 25px
    margin-right: 10px
    .img
      margin-right: 10px
    .title
      padding-top: 25px
      font-size: 14px
      margin-bottom: 19px
      .my-basket
        font-family: $rlw-b
        text-transform: uppercase
        font-size: 18px
      .sixty-min
        padding-top: 3px
        box-sizing: border-box
    .basket-unit-description
      .price, .name, .color
        margin-bottom: 5px
      span
        margin-right: 10px
        font-family: $rbt-r
        text-transform: uppercase
        input
          width: 37px
          height: 20px
      .count
        margin-right: 0
      button
        border: 1px lightgrey solid
        background: none
        margin-top: 12px
        cursor: pointer
        &:hover
          background: $grey
          color: $light
          border: 1px $grey solid
    .close-btn
      border: none
      background: none
      height: 30px
      cursor: pointer
      font-size: 20px
    .total-amount
      box-sizing: border-box
      padding-top: 18px
      text-align: right
      height: 70px
      font-family: $rlw-b
      text-transform: uppercase
      font-size: 18px
      span
        font-family: $rbt-b

  .basket-order
    padding-left: 20px
    padding-right: 20px
    background: white
    height: 370px
    font-size: 18px
    .total
      padding-top: 25px
      font-family: $rlw-b
      text-transform: uppercase
      margin-bottom: 19px
    select
      font-size: 14px
      &:focus
        border-color: $light-grey !important
        box-shadow: none !important
    .sum
      margin-top: 10px
      .delivery
        font-family: $rlw-b
      .delivery-price
        font-family: $rbt-r

    button
      margin-top: 18px
      background: $green
      border: none
      width: 100%
      height: 40px
      color: $grey
      font-family: $rlw-b
      text-transform: uppercase
      cursor: pointer
      &:hover
        background: $grey
        color: $light

    .we-take
      margin-top: 10px
      font-family: $rlw-b
      text-transform: uppercase
      font-size: 16px

    .have-coupon
      font-size: 14px
      margin-top: 6px

/* ИЗБРАННОЕ */

.like-unit
  position: relative
  a
    margin-bottom: 0
  button
    position: absolute
    right: 20px
    top: 5px
    border: none
    background: lightgrey
    color: white
    cursor: pointer
    width: 25px
    height: 25px
    border-radius: 50%
    font-size: 16px
    padding: 0
    &:hover
      background: $grey
  .name
    font-size: 16px
    color: $grey
    background: white
    padding-left: 10px
    padding-right: 10px
    hr
      margin-top: 0
  .price
    background: white
    padding-left: 10px
    padding-right: 10px
    font-family: $rbt-b
    text-transform: uppercase
    color: $grey
    padding-bottom: 10px
    margin-bottom: 25px

.like-buttons
  .clear-like
    background: $yellow
  .like-to-bag
    background: $green
  button
    width: 100%
    border: none
    height: 50px
    font-family: $rlw-b
    text-transform: uppercase
    color: $grey
    margin-bottom: 25px
    cursor: pointer
    &:hover
      background: $grey
      color: $light


/* ФУТЕР */

.social
  min-height: 72px
  text-align: center
  background: $grey
  box-sizing: border-box
  padding-top: 20px
  font-size: 24px
  a
    color: $light
    &:first-child
      &:hover
        color: #3b5998
    &:nth-child(2)
      &:hover
        color: #1dcaff
    &:nth-child(3)
      &:hover
        color: #4c75a3
    &:nth-child(4)
      &:hover
        color: #FF0000
    &:nth-child(5)
      &:hover
        color: #E1306C
    &:nth-child(6)
      &:hover
        color: #C92228

.copyright
  min-height: 116px
  background: $dark
  text-align: center
  padding-top: 22px
  box-sizing: border-box
  color: $light
  .copyright-text
    box-sizing: border-box
    padding-top: 10px
    span
      font-family: $rlw-b


/* ------------------------------- */

/* МЕДИАЗАПРОСЫ */

@media screen and (max-width: 992px)

  .slogan
    display: none

  .main-categories
    padding: 0
    margin-top: 5px
    .main-category
      border-top: 1px $dark solid
      border-bottom: 1px $dark solid

  .main-announcement
    min-height: 72px
    font-size: 35px

  .categories-menu
    height: 0
    background: none
    button
      position: absolute
      top: -49px
    .navbar
      min-height: 0
      width: 50%
      z-index: 100
      .nav-item
        width: 100%

  .sub-product-photos
    img
      height: 100px
      margin-top: 25px

  .basket-items
    margin-right: 0 !important


  /* ТУТ КОСТЫЛЬ */

  .categories-menu.woman
    button
      left: unset
      right: -100%
    .navbar-collapse
      position: absolute
      right: -100%
      width: calc(100% + 1px)
      top: 0
      .navbar-nav
        position: absolute
        width: 100%
        background: $dark

  .path
    display: none

  .add-to-bag
    width: 100% !important


@media screen and (max-width: 768px)

  .main-announcement
    min-height: 58px
    font-size: 26px


@media screen and (max-width: 576px)

  .first-menu
    padding: 3px 15px 0 15px
    a
      font-size: 13px

  .second-menu
    .main-categories
      margin-top: 5px

  .categories-menu
    button
      left: -6px

  .categories-menu.woman
    button
      left: unset
      right: calc(-100% - 6px)

  .sub-product-photos
    img
      height: 70px

  .my-basket, .sixty-min
    display: block

  .basket-items
    padding-right: 10px !important
    padding-left: 10px !important

  .basket-unit-description
    button
      min-width: 120px



@media screen and (min-width: 992px)

  .basket-order
    position: sticky
    top: 4em
















