{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block content %}

<div class="path">
    <div class="container">
        <a href="{% url 'mainapp:home' %}">Главная ></a>
        <a href="{% url 'mainapp:about' %}">О команде</a>
    </div>
</div>

<div class="product-title">
    <div class="container">
        О команде
    </div>
</div>

<section class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto about-text">
                Данный проект разработан студентами факультета Python-разработки
                GeekUniversity от GeekBrains Mail.Ru Group.
                В проекте использованы технологии:
                <span>Python 3+, Django Framework 2+, Django REST Framework, HTML5, CSS3, SASS, Bootstrap4, JavaScript,
        Photoshop CC, Pixel Perfect, AJAX, JQuery, PostgreSQL, GitHub,
        Trello, Discord, Scrum.</span>
            </div>
            <div class="developers col-12">Разработчики</div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/antonina.jpg' %}" class="img-fluid dev-photo" alt="Antonina">
                <div class="developer-info">
                    <h3>Антонина Клёцкина</h3>
                    <h4>Разработчик Python, C#</h4>
                    <div class="dev-city">
                        г. Москва
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Team Lead, Git-админ, FullStack-разработчик</h5>

                    <a href="https://telegram.me/SPELLGIRL" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/dmitry.jpg' %}" class="img-fluid dev-photo" alt="Dmitry">
                <div class="developer-info">
                    <h3>Дмитрий Шевченко</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Москва
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Product Owner, Дизайнер, Frontend-разработчик</h5>

                    <a href="https://telegram.me/jemessheko" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/oleg.jpg' %}" class="img-fluid dev-photo" alt="Oleg">
                <div class="developer-info">
                    <h3>Олег Слепцов</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Новосибирск
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Backend-разработчик</h5>

                    <a href="https://telegram.me/oleg_s9" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/ivan.jpg' %}" class="img-fluid dev-photo" alt="Ivan">
                <div class="developer-info">
                    <h3>Иван Деарт</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Москва
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Backend-разработчик</h5>

                    <a href="https://telegram.me/Farelkin" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/kirill.jpg' %}" class="img-fluid dev-photo" alt="Kirill">
                <div class="developer-info">
                    <h3>Кирилл Анисимов</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Ижевск
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Backend-разработчик</h5>

                    <a href="https://telegram.me/kirosxx" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/ilya.jpg' %}" class="img-fluid dev-photo" alt="Ilya">
                <div class="developer-info">
                    <h3>Илья Ниязов</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Москва
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Backend-разработчик</h5>

                    <a href="https://telegram.me/ILIA_KNYZEV" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'img/no_avatar.jpg' %}" class="img-fluid dev-photo" alt="Yury">
                <div class="developer-info">
                    <h3>Юрий Ильясов</h3>
                    <h4>Разработчик Python</h4>
                    <div class="dev-city">
                        г. Москва
                    </div>
                    <h6>Роль в команде:</h6>
                    <h5>Frontend-разработчик</h5>

                    <a href="https://telegram.me/Str3eet" class="dev-telegram" target="_blank">
                        <img src="{% static 'img/telegram.png' %}" alt="Написать" height="40">
                    </a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center github-link">
                <a href="https://github.com/SPELLGIRL/CoderMerch" target="_blank">
                    <i class="fab fa-github"></i> CoderMerch на GitHub
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}