{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}

    <div class="main-image">
        <div class="container">
            <img src="{% static 'img/main-image.jpg' %}" class="img-fluid "
                 alt="Main image">
        </div>
    </div>

    <div class="main-announcement">
        <div class="container wow fadeInLeft">
            Реши легкую задачу и получи скидку 15%
        </div>
    </div>

    <div class="product-title">
        <div class="container wow fadeInRight">
            Новые поступления
        </div>
    </div>

    <div class="products">
        <div class="container p-0 d-flex justify-content-center flex-wrap">


                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product1.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product2.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product3.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product10.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product8.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product12.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product14.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product15.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>


        </div>
    </div>

    <div class="page-description">
        <div class="container wow fadeIn">
            <h3>Раздел для описания страницы</h3>
            <p>Данный раздел предназначен для описания страницы и SEO-оптимизации.
                Здесь будет находится много текста, содержащего поисковые запросы и
                ключевые слова.
                Заполнять этот раздел должен менеджер или SEO-оптимизатор из админки
                сайта.
                Дальше будет идти «текст-рыба».
            </p>
            <p>
                Таким образом сложившаяся структура организации играет важную роль в
                формировании позиций,
                занимаемых участниками в отношении поставленных задач.
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности
                влечет за собой процесс внедрения и модернизации новых предложений.
            </p>
            <p>
                Идейные соображения высшего порядка, а также новая модель
                организационной деятельности
                требуют от нас анализа существенных финансовых и административных
                условий.
                Товарищи! укрепление и развитие структуры требуют от нас анализа
                направлений
                прогрессивного развития.
            </p>
        </div>
    </div>

{% endblock %}
