{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    CoderMerch | Мужское
{% endblock %}

{% block extra_menu %}
    <div class="categories-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon wow fadeIn"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between wow fadeInLeft"
                     id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item " aria-hidden="true">
                            <a class="nav-link active" href="#" style="pointer-events: none;">Смотреть все</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Футболки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Рубашки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Кофты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Толстовки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Куртки</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="path">
        <div class="container wow fadeIn">
            <a href="{% url 'mainapp:home' %}">Главная ></a>
            <a href="{% url 'products:man' %}">Мужское ></a>
            <a href="#">Смотреть все</a>
        </div>
    </div>

    <div class="man-image">
        <div class="container">
            <img src="{% static 'img/man-image.jpg' %}" class="img-fluid "
                 alt="Man image">
        </div>
    </div>

    <div class="main-announcement">
        <div class="container wow fadeInRight">
            Скидка 10% по промокоду coderman
        </div>
    </div>

    <div class="product-title">
        <div class="container wow fadeInLeft">
            Мужская одежда
        </div>
    </div>

    <div class="product-sort">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" class="active" style="pointer-events: none;">Смотреть все</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Футболки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Рубашки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Кофты</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Толстовки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Куртки</a>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="container p-0 d-flex justify-content-center flex-wrap">
        </div>
    </div>

    <div class="paginator">
    </div>


    <div class="page-description">
        <div class="container">
            <h3>Раздел для описания страницы</h3>
            <p>Данный раздел предназначен для описания страницы и SEO-оптимизации.
                Здесь будет находится много текста, содержащего поисковые запросы и
                ключевые слова.
                Заполнять этот раздел должен менеджер или SEO-оптимизатор из админки
                сайта.
                Дальше будет идти «текст-рыба».
            </p>
            <p>
                Таким образом сложившаяся структура организации играет важную роль в
                формировании позиций,
                занимаемых участниками в отношении поставленных задач.
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности
                влечет за собой процесс внедрения и модернизации новых предложений.
            </p>
            <p>
                Идейные соображения высшего порядка, а также новая модель
                организационной деятельности
                требуют от нас анализа существенных финансовых и административных
                условий.
                Товарищи! укрепление и развитие структуры требуют от нас анализа
                направлений
                прогрессивного развития.
            </p>
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}
<script>
    class Product {
        constructor(api, gender) {
            this.api = api;
            this.gender = gender;
            this.productsList = [];
            this.productsCurrentList = [];
            this.contentHTML = '';
            this.startGoodsPhoto = 1;
            this.finishGoodsPhoto = 8;
            this.currentFilter = 'Смотреть все';
            this.filter = '';
            this.filterNav = '';
            this._getProducts();
        }

        _getProducts() {
            fetch(`${this.api}/products/`)
                .then(function(response) {
                    return response.json();
                })
                .then(data => {
                    data.forEach(elem => {
                        if(elem.gender === this.gender) {
                            this.productsList.push(elem);
                        }
                    })
                })
                .then(() => {
                    this._filtrationProductsCurrentList();
                    this._renderGoodsPhoto();
                    this._clickSort();
                    }
                )
                .catch(error => console.log(error));
        }

        _renderGoodsPhoto() {
            const block = document.querySelector('.products').querySelector('.container');
            if(this.productsCurrentList.length < 8) {
                this.finishGoodsPhoto = this.productsCurrentList.length;
            }

            for(let i = this.startGoodsPhoto - 1; i < this.finishGoodsPhoto; i++) {
                let id = this.productsCurrentList[i].id;
                let category = this.productsCurrentList[i].category.name_category;
                let logotype = this.productsCurrentList[i].logotype;
                let price = this.productsCurrentList[i].price;
                let discount = this.productsCurrentList[i].discount;
                let img = this.productsCurrentList[i].get_img.sort()[0];
                this.contentHTML += this._productHTML(id, category, logotype, price, discount, img);
            }

            block.innerHTML = this.contentHTML;
            this._renderPaginator();
            this._clickDownload();
        }

        _renderPaginator() {
            const block = document.querySelector('.paginator');
            if (this.productsCurrentList.length === this.finishGoodsPhoto) {
                block.innerHTML = `
                    <div class="container">
                        <div>
                            Вы посмотрели <span>${this.finishGoodsPhoto}</span> из <span>${this.productsCurrentList.length}</span> товаров
                        </div>
                    </div>`;
            } else {
                block.innerHTML = `
                    <div class="container">
                        <div>
                            Вы посмотрели <span>${this.finishGoodsPhoto}</span> из <span>${this.productsCurrentList.length}</span> товаров
                        </div>
                        <button class="wow fadeInUp">
                            Загрузить еще
                        </button>
                    </div>`;
            }
        }

        _productHTML(id, category, logotype, price, discount, img) {
            return `<div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src="/media/${img}"
                             class="photobox__preview" alt="Preview Product${id}">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                ${category} "${logotype}"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                ${price * (100 - discount) / 100}</h3>
                            <a href="/products/${id}"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>`
        }

        _clickDownload() {
            const element = document.querySelector('.fadeInUp');
            element.onclick = () => {
                this.startGoodsPhoto += 8;
                if(this.finishGoodsPhoto + 8 < this.productsCurrentList.length) {
                    this.finishGoodsPhoto += 8;
                } else {
                    this.finishGoodsPhoto = this.productsCurrentList.length;
                }
                this._renderGoodsPhoto();
            };
        }

        _clickSort() {
            const element = document.querySelector('.product-sort');
            element.onclick = (data) => {
                this.filter = data.target.getElementsByTagName('a')[0].innerHTML
                this._caseSort();
            }

            const block = document.querySelector('.categories-menu ul');
            block.onclick = (data) => {
                <!--console.log(document.querySelector('.categories-menu ul'));-->
                this.filter = data.target.innerText;
                this._caseSort();
            }
        }

        _caseSort() {
            switch(this.filter) {
                    case 'Смотреть все':
                        this.currentFilter ='Смотреть все';
                        break;
                    case 'Футболки':
                        this.currentFilter ='футболка';
                        break;
                    case 'Рубашки':
                        this.currentFilter ='рубашка';
                        break;
                    case 'Кофты':
                        this.currentFilter ='свитер';
                        break;
                    case 'Толстовки':
                        this.currentFilter ='толстовка';
                        break;
                    case 'Куртки':
                        this.currentFilter ='жакет';
                        break;
                }

                this._activateSort();
                this._activateSortNav();
                this.productsCurrentList = [];
                this.startGoodsPhoto = 1;
                this.finishGoodsPhoto = 8;
                this._filtrationProductsCurrentList();
                this.contentHTML = '';
                this._renderGoodsPhoto();
                this._pathMenu();
        }

        _activateSort() {
            const element = document.querySelector('.product-sort').getElementsByTagName('div');

            for(let el of element) {

                if(el.getElementsByTagName('a')[0].innerHTML === this.filter) {
                    el.getElementsByTagName('a')[0].className ='active'

                } else {
                    el.getElementsByTagName('a')[0].classList.remove("active")
                }
            }
        }

        _activateSortNav() {
            const element = document.querySelector('.categories-menu ul').getElementsByTagName('li');

            for(let el of element) {
                if(el.getElementsByTagName('a')[0].innerHTML === this.filter) {
                    el.getElementsByTagName('a')[0].classList.add("active")
                    <!--el.getElementsByTagName('a')[0].className ='active'-->
                } else {
                    el.getElementsByTagName('a')[0].classList.remove("active")
                }
            }
        }

        _filtrationProductsCurrentList() {

            this.productsList.forEach(element => {
                if(this.currentFilter === 'Смотреть все') {
                   this.productsCurrentList = this.productsList.slice()
                } else if(element.category.name_category === this.currentFilter) {
                    this.productsCurrentList.push(element);
                };
            })
        }

        _pathMenu() {
            const element = document.querySelector('.path  a:last-child');
            <!--const element = document.querySelectorAll('.path  a')[document.querySelectorAll('.path  a').length - 1];-->
            element.innerHTML = this.filter;
            console.log(element.innerHTML);
        }
    }


    const API = 'http://127.0.0.1:8000/api/v1';
    gender = 'man';
    let prod = new Product(API, gender);

</script>

{% endblock %}

