{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    CoderMerch | Мужское
{% endblock %}

{% block extra_menu %}
    <div class="categories-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon wow fadeIn"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between wow fadeInLeft"
                     id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item " aria-hidden="true">
                            <a class="nav-link active" href="#">Смотреть все</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Футболки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Рубашки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Кофты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Толстовки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Куртки</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="path">
        <div class="container wow fadeIn">
            <a href="{% url 'mainapp:home' %}">Главная ></a>
            <a href="{% url 'products:man' %}">Мужское ></a>
            <a href="#">Смотреть все</a>
        </div>
    </div>

    <div class="man-image">
        <div class="container">
            <img src="{% static 'img/man-image.jpg' %}" class="img-fluid "
                 alt="Man image">
        </div>
    </div>

    <div class="main-announcement">
        <div class="container wow fadeInRight">
            Скидка 10% по промокоду coderman
        </div>
    </div>

    <div class="product-title">
        <div class="container wow fadeInLeft">
            Мужская одежда
        </div>
    </div>

    <div class="product-sort">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" class="active">Смотреть все</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#">Футболки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#">Рубашки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#">Кофты</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#">Толстовки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#">Куртки</a>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="container p-0 d-flex justify-content-center flex-wrap">


                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product1.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product2.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product3.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product10.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product8.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product12.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product14.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src={% static 'img/product15.jpg' %}
                             class="photobox__preview" alt="Preview">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                Толстовка "С++"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                2990</h3>
                            <a href="#"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>


        </div>
    </div>

    <div class="paginator">
        <div class="container">
            <div>
                Вы посмотрели <span>16</span> из <span>100500</span> товаров
            </div>
            <button class="wow fadeInUp">
                Загрузить еще
            </button>
        </div>
    </div>


    <div class="page-description">
        <div class="container">
            <h3>Раздел для описания страницы</h3>
            <p>Данный раздел предназначен для описания страницы и SEO-оптимизации.
                Здесь будет находится много текста, содержащего поисковые запросы и
                ключевые слова.
                Заполнять этот раздел должен менеджер или SEO-оптимизатор из админки
                сайта.
                Дальше будет идти «текст-рыба».
            </p>
            <p>
                Таким образом сложившаяся структура организации играет важную роль в
                формировании позиций,
                занимаемых участниками в отношении поставленных задач.
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности
                влечет за собой процесс внедрения и модернизации новых предложений.
            </p>
            <p>
                Идейные соображения высшего порядка, а также новая модель
                организационной деятельности
                требуют от нас анализа существенных финансовых и административных
                условий.
                Товарищи! укрепление и развитие структуры требуют от нас анализа
                направлений
                прогрессивного развития.
            </p>
        </div>
    </div>
{% endblock %}

