{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    CoderMerch | Товар
{% endblock %}

<div class="first-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 slogan">
                <span>Your code</span> <span>-</span> your brand
            </div>
            <div class="col-12 col-lg-5 d-flex justify-content-between ml-lg-auto top-menu">
                <a href="#">SALE</a>
                <a href="#">О команде</a>
                <a href="#">Доставка и оплата</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </div>
</div>

{% block content %}
    <div class="path">
        <div class="container">
        </div>
    </div>

    <div class="product-title">
    </div>

    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-12 d-flex justify-content-sm-around justify-content-center d-lg-block sub-product-photos order-2 order-lg-0">
                </div>
                <div class="col-lg-7 main-product-photo order-1 order-lg-0">
                </div>
                <div class="col-lg-4 order-3">
                    <div class="short-description">
                    </div>

                    <div class="price order-3">
                        <span></span> руб.
                    </div>

                    <div class="vendor-code order-3">
                        <span>Артикул:</span>
                    </div>

                    <div class="color order-3">
                        <span>Цвет:</span>
                    </div>

                    <select class="form-control order-3"
                            data-btn-class="btn-primary">
                    </select>

                    <div class="buttons d-flex order-3">
                        <button class="add-to-bag" type="submit">
                            Добавить в корзину
                        </button>
                        <button class="add-to-like ml-auto order-3">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>

                    <div class="long-description order-3">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-title">
        <div class="container">
            Похожие товары
        </div>
    </div>

    <div class="similar-products">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}
<script>
    class Product {
        constructor(api){
            this.api = api;
            this.nameProduct = '';
            this.id = 0;
            this.article = '';
            this.color = '';
            this.logotype = '';
            this.price = 0;
            this.description = '';
            this.sizes = {};
            this.gender = '';
            this.getImg = [];
            this.genderRus = '';
            this.productsList = [];
            this.similarProductsList = [];
            this.indexList = [];
            this._getProduct();

        }

        _getProduct(){
            const apiHref = window.location.href.replace(window.location.origin, '')
            fetch(`${this.api}${apiHref}`)
                .then(function(response) {
                    return response.json();
                })
                .then(data => {
                    this.nameProduct = data.name_product;
                    this.id = data.id;
                    this.article = data.article;
                    this.color = data.color;
                    this.logotype = data.logotype;
                    this.price = data.price;
                    this.description = data.description;
                    this.sizes = data.sizes;
                    this.gender = data.gender;
                    this.discount = data.discount;
                    this.categoryId = data.category.id;
                    console.log(this.categoryId);
                    this.category = data.category.name_category.charAt(0).toUpperCase() + data.category.name_category.slice(1);
                    this.getImg = data.get_img;

                    this._renderName();
                    this._renderDescription();
                    this._renderShortDescription();
                    this._renderPrice();
                    this._renderArticle();
                    this._renderColor();
                    this._renderSize();
                    this._renderImg();
                    this._renderImgMini();
                    this._renderPath();
                    this._getProducts();
                })
                .catch(error => console.log(error));
        }

        _renderName() {
            const block = document.querySelector('.product-title');
            <!--block.insertAdjacentHTML('beforeend', `<div class="container">${this.nameProduct}</div>`);-->
            block.insertAdjacentHTML('beforeend', `<div class="container">${this.category} ${this.logotype.toUpperCase()}</div>`);
        }

        _renderDescription() {
            const block = document.querySelector('.long-description');
            block.innerHTML = this.description;
        }

        _renderShortDescription() {
            const block = document.querySelector('.short-description');
            block.innerHTML = this.nameProduct.charAt(0).toUpperCase() + this.nameProduct.slice(1);
        }

        _renderPrice() {
            const block = document.querySelector('.price').getElementsByTagName('span')[0];
            console.log(this.discount);
            block.innerHTML = this.price*(100 - this.discount)/100;
        }

        _renderArticle() {
            const block = document.querySelector('.vendor-code');
            block.innerHTML =  `<span>Артикул:</span> ${this.article}`;
        }

        _renderColor() {
            const block = document.querySelector('.color');
            block.style.textTransform = 'capitalize';
            block.innerHTML =  `<span>Цвет:</span> ${this.color}`;
        }

        _renderSize() {
            const block = document.getElementsByTagName('select')[0];
            let contentSizes = '<option value="" hidden>Пожалуйста, выберите размер</option>';
            for (let key in this.sizes) {
                if (+this.sizes[key] > 0) {
                    contentSizes += `<option value="${key}">${key}</option>`
                }
            }
            block.innerHTML =  contentSizes;
        }

        _renderImg() {
            const block = document.querySelector('.main-product-photo');
            block.innerHTML =  `<img class="img-fluid" src="/media/${this.getImg.sort()[0]}" alt="product${this.id}">`;
        }

        _renderImgMini() {
            const block = document.querySelector('.sub-product-photos');
            let contentIMG = '';
            for (let img of this.getImg.sort()) {
                contentIMG += `<img class="img-fluid" src="/media/${img}" alt="${this.id}">`
            }
            block.innerHTML =  contentIMG;
        }

        _renderPath() {
            if (this.gender==='man') {
                this.genderRus = 'Мужское'
            } else {
                this.genderRus = 'Женское'}
            const block = document.querySelector('.path').getElementsByTagName('div')[0];
            block.innerHTML =  `<a href="/">Главная &gt; </a>
                                <a href="/products/${this.gender}/">${this.genderRus} &gt; </a>
                                <a href="/products/${this.gender}/"> ${this.category} &gt;</a>
                                <a href="#">${this.category} ${this.logotype.toUpperCase()}</a>`;
        }


        _getProducts() {
            const apiHref = window.location.href.replace(window.location.origin, '')
            fetch(`${this.api}/categories/${this.categoryId}/`)
                .then(function(response) {
                    return response.json();
                })
                .then(data => {
                    console.log('DATA', data);
                    this.productsList = data;
                    this._getSimilarProducts();
                    this._renderSimilarProducts();

                })
                .catch(error => console.log(error));
        }

        _getSimilarProducts() {
            for (let obj of this.productsList) {
                if (obj.gender === this.gender && obj.id !== this.id) {
                    this.similarProductsList.push(obj);
                }
            }

            while (this.indexList.length < 4) {
                let ind = Math.floor(Math.random() * this.similarProductsList.length);
                if (!this.indexList.includes(ind)) {
                    this.indexList.push(ind);
                }
            }
        }

        _renderSimilarProducts() {
            const block = document.querySelector('.similar-products').querySelector('.row');
            let contentSimilarProduct = '';

            this.indexList.forEach(ind => {
                let element = this.similarProductsList[ind];
                contentSimilarProduct += `
                    <div class="col-6 col-sm-3">
                        <a href="/products/${element.id}" class="view overlay zoom">
                            <img src="/media/${element.get_img.sort()[0]}" alt="product${element.id}" class="img-fluid">
                        </a>
                    </div>`
                console.log('ELEM', );
            })
            block.innerHTML =  contentSimilarProduct;
        }
    }


    const API = 'http://127.0.0.1:8000/api/v1';
    let prod = new Product(API);
    <!--let similarProducts = new SimilarProduct(API);-->

</script>

{% endblock %}

