{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    CoderMerch | Женское
{% endblock %}


{% block extra_menu %}
        <div class="categories-menu woman">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon wow fadeIn"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between wow fadeInRight"
                     id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item " aria-hidden="true">
                            <a class="nav-link active" href="#" style="pointer-events: none;">Смотреть все</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Футболки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Рубашки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Кофты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Толстовки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="pointer-events: none;">Куртки</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="path">
        <div class="container wow fadeIn">
            <a href="{% url 'mainapp:home' %}">Главная ></a>
            <a href="{% url 'products:woman' %}">Женское ></a>
            <a href="#">Смотреть все</a>
        </div>
    </div>

    <div class="woman-image">
        <div class="container">
            <img src="{% static 'img/woman-image.jpg' %}" class="img-fluid "
                 alt="Woman image">
        </div>
    </div>

    <div class="main-announcement">
        <div class="container wow fadeInRight">
            Скидка 10% по промокоду codergirl
        </div>
    </div>

    <div class="product-title">
        <div class="container wow fadeInLeft">
            Женская одежда
        </div>
    </div>

    <div class="product-sort">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" class="active" style="pointer-events: none;">Смотреть все</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Футболки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Рубашки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Кофты</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Толстовки</a>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <a href="#" style="pointer-events: none;">Куртки</a>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="container p-0 d-flex justify-content-center flex-wrap">>
        </div>
    </div>

    <div class="paginator">

    </div>


    <div class="page-description">
        <div class="container">
            <h3>Раздел для описания страницы</h3>
            <p>Данный раздел предназначен для описания страницы и SEO-оптимизации.
                Здесь будет находится много текста, содержащего поисковые запросы и
                ключевые слова.
                Заполнять этот раздел должен менеджер или SEO-оптимизатор из админки
                сайта.
                Дальше будет идти «текст-рыба».
            </p>
            <p>
                Таким образом сложившаяся структура организации играет важную роль в
                формировании позиций,
                занимаемых участниками в отношении поставленных задач.
                Значимость этих проблем настолько очевидна, что новая модель
                организационной деятельности
                влечет за собой процесс внедрения и модернизации новых предложений.
            </p>
            <p>
                Идейные соображения высшего порядка, а также новая модель
                организационной деятельности
                требуют от нас анализа существенных финансовых и административных
                условий.
                Товарищи! укрепление и развитие структуры требуют от нас анализа
                направлений
                прогрессивного развития.
            </p>
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}
<script>
    class Product {
        constructor(gender) {
            this.gender = gender;
            this.API = `${window.location.origin}/api/v1/products/`;

            this.initFirstLoads();
        }

        initFirstLoads() {
            this.update = false;
            this.limit = 8;
            this.offset = 0;
            this.categoryBack = '';
            this.categoryFront = '';
            this.productList = [];
            this.content = '';
            this.countElement = 0;

            let url = new URLSearchParams(window.location.search);
            url.get('category') ? this.categoryBack = url.get('category') : this.categoryBack = '';
            {#console.log('categoryBack: ', this.categoryBack);#}

            this.convertCategBackInFront();
            this.requestProduct();
            this.activateSort();
            this.activateSortNav();
            this.renderPathMenu();
        }

        initUpdateCategory() {
            this.update = false;
            this.limit = 8;
            this.offset = 0;
            this.productList = [];
            this.content = '';
            this.countElement = 0;

            this.convertCategBackInFront();
            this.requestProduct();
            this.activateSort();
            this.activateSortNav();
            this.renderPathMenu();
        }

        requestProduct() {
        {#console.log(`${this.API}?gender=${this.gender}&category=${this.categoryBack}&limit=${this.limit}&offset=${this.offset}`);#}
            fetch(`${this.API}?gender=${this.gender}&category=${this.categoryBack}&limit=${this.limit}&offset=${this.offset}`)
            .then(function(response) {
                return response.json();
            })
            .then(data => {
                if (data.count < this.limit) {
                    this.limit = data.count;
                }
                this.countElement = data.count;
                this.productList = data.results;

            })
            .then(data => {
                {#console.log(this.countElement);#}
                this.renderProducts();
                this.renderPaginator();
                this.clickDownload();
                this.clickSort();

            })
            .catch(error => console.log(error));
        }

        renderProducts() {
            for (let obj of this.productList) {
                this.content += this.getContentHTML(obj);
            }
            const block = document.querySelector('.products .container');
            if (this.update) {
                block.innerHTML += this.content;
            }
            else {
                block.innerHTML = this.content;
            }
            this.content = '';
        }

        getContentHTML(obj) {
            return `<div class="photobox photobox_type8 coder-merch-goods-photo text-center mr-1 mb-1 wow pulse">
                    <div class="photobox__previewbox">
                        <img src="${obj.main_img}"
                             class="photobox__preview" alt="${obj.name_product}">
                        <div class="photobox__label text-uppercase">
                            <p class="coder-merch-goods-text my-3 font-weight-bolder">
                                ${obj.name_category} "${obj.logotype}"</p>
                            <h3 class="coder-merch-custom-font coder-merch-goods-price my-3">
                                ${obj.price * (100 - obj.discount) / 100}</h3>
                            <a href="${obj.url.replace('/api/v1/', '/')}"
                               class="btn yellow text-black-50 font-weight-bold px-5 py-1 my-3 mx-5">Подробнее</a>
                        </div>
                    </div>
                </div>`
        }

        renderPaginator() {
            const block = document.querySelector('.paginator');
            if ((this.limit + this.offset) >= this.countElement) {
                block.innerHTML = `
                    <div class="container">
                        <div>
                            Вы посмотрели <span>${this.limit}</span> из <span>${this.countElement}</span> товаров
                        </div>
                    </div>`;
            } else {
                block.innerHTML = `
                    <div class="container">
                        <div>
                            Вы посмотрели <span>${this.limit + this.offset}</span> из <span>${this.countElement}</span> товаров
                        </div>
                        <button class="wow fadeInUp">
                            Загрузить еще
                        </button>
                    </div>`;
            }
        }

        clickDownload() {
            const element = document.querySelector('.fadeInUp');
            element.onclick = () => {
                this.offset += 8;
                if((this.limit + this.offset) >= this.countElement) {
                    this.limit = this.countElement;
                }
                this.update = true;
                this.requestProduct();
            };
        }

        clickSort() {
            const element = document.querySelector('.product-sort');
            element.onclick = (data) => {
                this.categoryFront = data.target.getElementsByTagName('a')[0].innerHTML;
                this.convertCategFrontInBack();
                this.initUpdateCategory();
            }

            const block = document.querySelector('.categories-menu ul');
            block.onclick = (data) => {
                this.categoryFront = data.target.innerText;
                this.convertCategFrontInBack();
                this.initUpdateCategory();
            }
        }

        convertCategFrontInBack() {
            switch(this.categoryFront) {
                    case 'Смотреть все':
                        this.categoryBack = 'Смотреть все';
                        break;
                    case 'Футболки':
                        this.categoryBack = 'футболка';
                        break;
                    case 'Рубашки':
                        this.categoryBack = 'рубашка';
                        break;
                    case 'Кофты':
                        this.categoryBack = 'свитер';
                        break;
                    case 'Толстовки':
                        this.categoryBack = 'толстовка';
                        break;
                    case 'Куртки':
                        this.categoryBack = 'жакет';
                        break;

                }
        }

        convertCategBackInFront() {
            switch(this.categoryBack) {
                    case 'футболка':
                        this.categoryFront = 'Футболки';
                        break;
                    case 'рубашка':
                        this.categoryFront = 'Рубашки';
                        break;
                    case 'свитер':
                        this.categoryFront = 'Кофты';
                        break;
                    case 'толстовка':
                        this.categoryFront = 'Толстовки';
                        break;
                    case 'жакет':
                        this.categoryFront = 'Куртки';
                        break;
                    default:
                        this.categoryFront = 'Смотреть все';
            }
        }

        activateSort() {
            const element = document.querySelectorAll('.product-sort div');

            for(let el of element) {
                if(el.querySelector('a').innerHTML === this.categoryFront) {
                    el.querySelector('a').classList.add("active")
                }
                else {
                    el.querySelector('a').classList.remove("active")
                }
            }
        }

        activateSortNav() {
            const element = document.querySelectorAll('.categories-menu ul li')

            for(let el of element) {
                if(el.querySelector('a').innerHTML === this.categoryFront) {
                    el.querySelector('a').classList.add("active")
                }
                else {
                    el.querySelector('a').classList.remove("active")
                }
            }
        }

        renderPathMenu() {
            const element = document.querySelector('.path  a:last-child');
            {#console.log('elementwasdq', element);#}
            element.innerHTML = this.categoryFront;
            {#console.log(element.innerHTML);#}
        }

    }

    gender = 'woman';
    let prod = new Product(gender);

</script>

{% endblock %}

